In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import files

In [2]:
upload = files.upload()

Saving Walmart.csv to Walmart.csv

In [3]:
df=pd.read_csv('Walmart.csv')

In [4]:
df

,transaction_id,customer_id,product_id,product_name,category,quantity_sold,unit_price,transaction_date,store_id,store_location,...,customer_loyalty_level,payment_method,promotion_applied,promotion_type,weather_conditions,holiday_indicator,weekday,stockout_indicator,forecasted_demand,actual_demand
0,1,2824,843,Fridge,Electronics,3,188.46,3/31/2024 21:46,3,"Miami, FL",...,Silver,Credit Card,True,NaN,Stormy,False,Friday,True,172,179
1,2,1409,135,TV,Electronics,4,1912.04,7/28/2024 12:45,5,"Dallas, TX",...,Gold,Cash,True,Percentage Discount,Rainy,False,Monday,True,109,484
2,3,5506,391,Fridge,Electronics,4,1377.75,06-10-2024 04:55,1,"Los Angeles, CA",...,Platinum,Cash,False,NaN,Sunny,False,Tuesday,True,289,416
3,4,5012,710,Smartphone,Electronics,5,182.31,8/15/2024 1:03,5,"Miami, FL",...,Silver,Cash,True,Percentage Discount,Sunny,True,Sunday,False,174,446
4,5,4657,116,Laptop,Electronics,3,499.28,9/13/2024 0:45,6,"Chicago, IL",...,Bronze,Digital Wallet,False,NaN,Sunny,False,Thursday,True,287,469
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,6898,852,Headphones,Appliances,1,682.15,07-08-2024 06:13,17,"New York, NY",...,Gold,Cash,False,NaN,Sunny,False,Wednesday,True,257,294
4996,4997,8412,886,Laptop,Appliances,3,1418.09,02-07-2024 11:30,16,"Los Angeles, CA",...,Bronze,Digital Wallet,True,NaN,Sunny,True,Sunday,True,388,397
4997,4998,8331,934,Fridge,Electronics,5,398.66,8/20/2024 0:38,16,"New York, NY",...,Bronze,Digital Wallet,True,NaN,Cloudy,False,Thursday,True,314,204
4998,4999,7505,439,Laptop,Appliances,3,1000.95,8/26/2024 11:05,16,"Miami, FL",...,Silver,Debit Card,True,NaN,Stormy,False,Tuesday,False,488,144
4999,5000,1003,926,Washing Machine,Appliances,1,710.03,02-09-2024 01:27,12,"New York, NY",...,Platinum,Debit Card,True,BOGO,Stormy,True,Wednesday,False,142,148

In [5]:
df.describe()

,transaction_id,customer_id,product_id,quantity_sold,unit_price,store_id,inventory_level,reorder_point,reorder_quantity,supplier_id,supplier_lead_time,customer_age,customer_income,forecasted_demand,actual_demand
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000
mean,2500.500000,5542.497200,551.233400,2.982800,1023.467294,10.525000,253.121800,99.788000,200.517000,300.12560,5.523000,44.124000,70041.627846,297.134000,299.08840
std,1443.520003,2582.126997,258.826606,1.419474,559.614242,5.786888,142.885456,29.132387,58.257381,116.39486,2.863549,15.329358,29053.371736,115.568806,121.68078
min,1.000000,1001.000000,100.000000,1.000000,50.100000,1.000000,0.000000,50.000000,100.000000,100.00000,1.000000,18.000000,20005.340000,100.000000,90.00000
25%,1250.750000,3279.000000,322.000000,2.000000,537.775000,5.000000,130.000000,75.000000,150.750000,199.00000,3.000000,31.000000,44865.417500,195.000000,194.00000
50%,2500.500000,5558.000000,559.000000,3.000000,1029.175000,11.000000,253.000000,100.000000,200.500000,299.00000,6.000000,44.000000,70188.290000,297.500000,299.00000
75%,3750.250000,7767.250000,776.000000,4.000000,1506.307500,16.000000,377.250000,125.000000,251.000000,405.00000,8.000000,58.000000,95395.872500,395.000000,404.00000
max,5000.000000,9998.000000,999.000000,5.000000,1999.850000,20.000000,500.000000,150.000000,300.000000,500.00000,10.000000,70.000000,119999.780000,500.000000,510.00000

In [6]:
df.isnull().sum()

transaction_id               0
customer_id                  0
product_id                   0
product_name                 0
category                     0
quantity_sold                0
unit_price                   0
transaction_date             0
store_id                     0
store_location               0
inventory_level              0
reorder_point                0
reorder_quantity             0
supplier_id                  0
supplier_lead_time           0
customer_age                 0
customer_gender              0
customer_income              0
customer_loyalty_level       0
payment_method               0
promotion_applied            0
promotion_type            3407
weather_conditions           0
holiday_indicator            0
weekday                      0
stockout_indicator           0
forecasted_demand            0
actual_demand                0
dtype: int64

In [7]:
df['promotion_type'].fillna('No Promotion', inplace=True)

/tmp/ipython-input-7-3415740975.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['promotion_type'].fillna('No Promotion', inplace=True)

In [8]:
df.isnull().sum()

transaction_id            0
customer_id               0
product_id                0
product_name              0
category                  0
quantity_sold             0
unit_price                0
transaction_date          0
store_id                  0
store_location            0
inventory_level           0
reorder_point             0
reorder_quantity          0
supplier_id               0
supplier_lead_time        0
customer_age              0
customer_gender           0
customer_income           0
customer_loyalty_level    0
payment_method            0
promotion_applied         0
promotion_type            0
weather_conditions        0
holiday_indicator         0
weekday                   0
stockout_indicator        0
forecasted_demand         0
actual_demand             0
dtype: int64

In [9]:
df['transaction_date']=pd.to_datetime(df['transaction_date'], format='mixed')

In [10]:
df['transaction_date'].dt.date

0       2024-03-31
1       2024-07-28
2       2024-06-10
3       2024-08-15
4       2024-09-13
           ...
4995    2024-07-08
4996    2024-02-07
4997    2024-08-20
4998    2024-08-26
4999    2024-02-09
Name: transaction_date, Length: 5000, dtype: object

In [11]:
df['transaction_date'].dt.time

0       21:46:00
1       12:45:00
2       04:55:00
3       01:03:00
4       00:45:00
          ...
4995    06:13:00
4996    11:30:00
4997    00:38:00
4998    11:05:00
4999    01:27:00
Name: transaction_date, Length: 5000, dtype: object

In [12]:
df['total_revenue']=df['quantity_sold']*df['unit_price']
df['total_revenue']

0        565.38
1       7648.16
2       5511.00
3        911.55
4       1497.84
         ...
4995     682.15
4996    4254.27
4997    1993.30
4998    3002.85
4999     710.03
Name: total_revenue, Length: 5000, dtype: float64

In [13]:
daily_sales = df.groupby(df['transaction_date'].dt.date)['total_revenue'].sum()
print(daily_sales)

transaction_date
2024-01-01    89163.72
2024-01-02    20865.29
2024-01-03    62849.25
2024-01-04    61337.54
2024-01-05    66130.22
                ...
2024-09-12    72791.02
2024-09-13    56107.41
2024-09-14    62401.68
2024-09-15    60169.98
2024-09-16    51953.27
Name: total_revenue, Length: 260, dtype: float64

In [14]:
weekly_sales=df.groupby(df['transaction_date'].dt.isocalendar().week)['total_revenue'].sum()
print(weekly_sales)

week
1     404257.79
2     353993.52
3     410094.24
4     397491.93
5     353421.58
6     480864.33
7     417245.18
8     455553.55
9     396452.72
10    398229.49
11    514981.33
12    427581.86
13    321997.35
14    405766.86
15    424822.10
16    419116.90
17    370321.47
18    366305.21
19    364661.58
20    397747.91
21    470400.71
22    467841.35
23    367998.48
24    344531.80
25    315338.55
26    412486.27
27    474015.09
28    370565.13
29    496696.00
30    378152.39
31    423315.51
32    467947.48
33    476283.46
34    439877.52
35    412424.72
36    401979.83
37    410886.99
38     51953.27
Name: total_revenue, dtype: float64

In [15]:
monthly_sales=df.groupby(df['transaction_date'].dt.month)['total_revenue'].sum()
print(monthly_sales)

transaction_date
1    1731651.65
2    1767062.38
3    1833450.84
4    1739800.75
5    1786559.47
6    1600978.97
7    1878513.51
8    2018315.81
9     907268.07
Name: total_revenue, dtype: float64

In [16]:
df['forecast_error']=abs(df['actual_demand']-df['forecasted_demand'])

In [17]:
df['forecast_error']

0         7
1       375
2       127
3       272
4       182
       ...
4995     37
4996      9
4997    110
4998    344
4999      6
Name: forecast_error, Length: 5000, dtype: int64

In [18]:
print("total forecasted_error :",df['forecast_error'].sum())

total forecasted_error : 687578

In [19]:
print("avg forcast_error :",df['forecast_error'].mean())

avg forcast_error : 137.5156

In [20]:
print("max forecast_error :",df['forecast_error'].max())

max forecast_error : 406

In [21]:
print("min forecasted_error :",df['forecast_error'].min())

min forecasted_error : 0

In [22]:
promotion_sales=df[df['promotion_applied']==True]['total_revenue'].sum()

In [23]:
print(promotion_sales)

8062411.030000001

In [24]:
nonpromotion_sales=df[df['promotion_applied']==False]['total_revenue'].sum()

In [25]:
print(nonpromotion_sales)

7201190.42

In [26]:
category_sales=df.groupby('category')['total_revenue'].sum()
print(category_sales)

category
Appliances     7321969.65
Electronics    7941631.80
Name: total_revenue, dtype: float64

In [27]:
quantity_sales=df.groupby('quantity_sold')['total_revenue'].sum()
print(quantity_sales)

quantity_sold
1    1046125.82
2    2126448.66
3    2928149.19
4    3987220.68
5    5175657.10
Name: total_revenue, dtype: float64

In [28]:
product_sales=df.groupby('product_name')['total_revenue'].sum()
print(product_sales)

product_name
Camera             1895104.13
Fridge             1938012.69
Headphones         1846334.45
Laptop             1709159.24
Smartphone         1931310.04
TV                 2049493.86
Tablet             1996253.02
Washing Machine    1897934.02
Name: total_revenue, dtype: float64

In [29]:
payment_type=df.groupby('payment_method')['total_revenue'].sum()
print(payment_type)

payment_method
Cash              3816860.66
Credit Card       3829054.57
Debit Card        3652903.51
Digital Wallet    3964782.71
Name: total_revenue, dtype: float64

In [30]:
store_sales =df.groupby('store_location')['total_revenue'].sum()
print(store_sales)

store_location
Chicago, IL        3156726.82
Dallas, TX         2903930.74
Los Angeles, CA    3276299.63
Miami, FL          2962567.02
New York, NY       2964077.24
Name: total_revenue, dtype: float64

In [31]:
customer_info=df.groupby(['customer_age','customer_income','customer_gender'])['total_revenue'].sum()
print(customer_info)

customer_age  customer_income  customer_gender
18            20628.45         Other              3979.52
              21634.55         Male                741.03
              22028.01         Female             2213.55
              24836.27         Other               429.22
              25179.89         Female             2433.40
                                                   ...
70            116450.28        Male               3209.44
              116482.06        Female             3583.14
              117123.34        Female              474.60
              117893.46        Male                226.80
              119999.78        Other              2255.72
Name: total_revenue, Length: 5000, dtype: float64

In [32]:
loyalty_level=df.groupby('customer_loyalty_level')['total_revenue'].sum()
print(loyalty_level)

customer_loyalty_level
Bronze      3795198.45
Gold        3536863.54
Platinum    4012963.14
Silver      3918576.32
Name: total_revenue, dtype: float64

In [33]:
weather_sales=df.groupby('weather_conditions')['total_revenue'].sum()
print(weather_sales)

weather_conditions
Cloudy    3878416.82
Rainy     3562222.42
Stormy    3843358.52
Sunny     3979603.69
Name: total_revenue, dtype: float64

In [34]:
Wcondtion_sales=df.groupby(['weather_conditions','category'])['total_revenue'].sum()
print(Wcondtion_sales)

weather_conditions  category
Cloudy              Appliances     1785728.07
                    Electronics    2092688.75
Rainy               Appliances     1676063.74
                    Electronics    1886158.68
Stormy              Appliances     1888258.07
                    Electronics    1955100.45
Sunny               Appliances     1971919.77
                    Electronics    2007683.92
Name: total_revenue, dtype: float64

In [35]:
daily_sales.to_csv("daily_sales.csv")
weekly_sales.to_csv("weekly_sales.csv")
monthly_sales.to_csv("monthly_sales.csv")
category_sales.to_csv("category_sales.csv")
product_sales.to_csv("product_sales.csv")
store_sales.to_csv("store_sales.csv")
payment_type.to_csv("payment_type.csv")
weather_sales.to_csv("weather_sales.csv")
loyalty_level.to_csv("loyalty_sales.csv")

In [36]:
!pip install openpyxl


with pd.ExcelWriter("wmart_summary_dashboard.xlsx", engine="openpyxl") as writer:
    daily_sales.to_frame().to_excel(writer, sheet_name="Daily Sales")
    weekly_sales.to_frame().to_excel(writer, sheet_name="Weekly Sales")
    monthly_sales.to_frame().to_excel(writer, sheet_name="Monthly Sales")
    category_sales.to_frame().to_excel(writer, sheet_name="Category Sales")
    product_sales.to_frame().to_excel(writer, sheet_name="Product Sales")
    store_sales.to_frame().to_excel(writer, sheet_name="Store Sales")
    payment_type.to_frame().to_excel(writer, sheet_name="Payment Type")
    weather_sales.to_frame().to_excel(writer, sheet_name="Weather Sales")
    loyalty_level.to_frame().to_excel(writer, sheet_name="Loyalty Sales")

files.download("wmart_summary_dashboard.xlsx")

Requirement already satisfied: openpyxl in /usr/local/lib/python3.11/dist-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.11/dist-packages (from openpyxl) (2.0.0)